.fontcenter{
    text-align: center;
    font-weight: bold;
    color:white;
}

.bghead{
    background-color: #3F4254;
}

.bgrow{
    background-color: rgba(125, 133, 151, 0.74);
}

.fontcolorrow{
    color: white;
}

.centerfont{
    text-align: center;
    font-weight: bold;
    color: white;
}

.text-left{
    text-align: left;
}