<kt-portlet>
	<kt-portlet-body>
		<!--begin: Wizard -->
		<div #wizard class="wizard wizard-4" id="kt_wizard_v4" data-wizard-state="step-first">
			<!--begin: Form Wizard Nav -->
			<div class="wizard-nav">
				<div class="wizard-steps">
					<a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current">
						<div class="wizard-wrapper">
							<div class="wizard-number">
								1
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Add Account
								</div>
								<div class="wizard-desc">
									Create Custom Account
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step" href="javascript:;" data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-number">
								2							
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Completed
								</div>
								<div class="wizard-desc">
									Review and Submit
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!--end: Form Wizard Nav -->

			<div class="card card-custom card-shadowless rounded-top-0">
				<div class="card-body p-0">
					<div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
						<div class="col-xl-12 col-xxl-7">
							<!--begin: Form Wizard Form-->
							<form class="form mt-0 mt-lg-10" id="kt_form">
								<!--begin: Form Wizard Step 1-->
								<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
									<h4 class="mb-10 font-weight-bold text-dark">Enter your Account Details</h4>
									<div class="form-group">
										<label>Username</label>
										<input type="text" class="form-control" name="uname" [(ngModel)]="model.uname" placeholder="First Name" value="model.uname" required>
										<span class="form-text text-muted">Please enter your username.</span>
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="number" class="form-control" name="fpassword" [(ngModel)]="model.fpassword" placeholder="Password" value="model.fpassword">
										<span class="form-text text-muted">Please enter your password.</span>
									</div>
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control" name="fname" [(ngModel)]="model.fname" placeholder="Last Name" value="model.fname">
										<span class="form-text text-muted">Please enter your name.</span>
									</div>
									<div class="form-group">
											<label>Roles:</label>
											<select name="role" [(ngModel)]="model.role" class="form-control">
												<option value="">Select</option>
												<option value="Supersaiya">Supersaiya</option>
											</select>
									</div>
									<div class="form-group">
											<label>Phone</label>
											<input type="text" maxlength="10" class="form-control" name="phone" [(ngModel)]="model.phone"  placeholder="phone" value="model.phone"  >
											<span class="form-text text-muted">Please enter your phone number.</span>
									</div>
								</div>
								<!--end: Form Wizard Step 1-->
								<!--begin: Form Wizard Step 2-->
								<div class="pb-5" data-wizard-type="step-content">
									<div class="mb-10 font-weight-bold text-dark">Review your Details and Submit</div>
									<div class="border-bottom mb-5 pb-5">
										<div class="font-weight-bolder mb-3">
											Your Account Details:
										</div>
										<div class="line-height-xl">
											Username: {{model.uname}}
											<br /> Password: {{model.fpassword}}
											<br /> Name: {{model.fname}}
											<br /> Roles: {{model.role}}
											<br /> Phone: {{model.phone}}
										</div>
									</div>
								</div>
								<!--end: Form Wizard Step 2-->

								<!--begin: Form Actions -->
								<div class="d-flex justify-content-between border-top pt-10">
									<div class="mr-2">
										<div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">
											Previous
										</div>
									</div>
									<div>
										<div (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
											Submit
										</div>
										<div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">
											Next Step
										</div>
									</div>
								</div>
								<!--end: Form Actions -->
							</form>
							<!--end: Form Wizard Form-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
