<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="wizard wizard-4" id="kt_wizard_v4" data-wizard-state="step-first">
			<div class="card card-custom card-shadowless rounded-top-0 ">
				<div class="card-body p-0 ">
					<div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
						<div class="col-xl-6 col-xxl-6">
								<!--begin: withdraw info-->
								<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
									<h4 class="mb-10 font-weight-bold text-dark">Withdraw Info</h4>
									<div class="row">
										<div class="col-8">
										<label>Username</label>
										<input type="text" class="form-control" name="uname" [(ngModel)]="withD.uname" placeholder="Username" value="wdraw.uname">
										<span class="form-text text-muted">Please enter your username.</span>
									</div>
										<div class="col-4"  style="padding-top: 3.3%;" >
										<button class="btn btn-primary font-weight-bold text-uppercase" (click)="onSerach()"> Search</button>
										</div>
									</div>
								<div class="row">
									<div class="col-8">
										<label>ชื่อจริง</label>
										<input type="text" class="form-control" name="fname" [(ngModel)]="withD.fname" placeholder="FirstName" value="withD.fname" disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-8">
										<label>เลขบัญชี</label>
										<input type="number" class="form-control" name="bankaccount" [(ngModel)]="withD.bankaccount" placeholder="Bank Account" value="withD.bankaccount" disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-8">
                                        <label>ธนาคาร</label>
                                        <input type="text" maxlength="10" class="form-control" name="bank" [(ngModel)]="withD.bank"  placeholder="Bank" value="withD.bank" disabled>
									</div>
								 </div>
								 <div class="row">
									<div class="col-8">
											<label>จำนวนเงิน</label>
											<input type="number" maxlength="10" class="form-control" name="amount" [(ngModel)]="withD.amount"  placeholder="Amount" value="withD.amount">
											<span class="form-text text-muted">Please enter your amount.</span>
									</div>
								</div>
								<br>
								<div class="row justify-content-center">
									<div class="col-8">
									<div class="btn-group" >

										
										<button  class="btn btn-primary font-weight-bold" (click)="onSubmit(withD)" [disabled]="submitButton == false || sbb == false">ทำรายการ</button>
										&nbsp;&nbsp;&nbsp;
										<div class="btn btn-secondary font-weight-bold" (click)="onClearData()">ล้างข้อมูล</div>
									  </div>
								</div>
							</div>
								</div>
								
							<!--end: Form Wizard Form-->
                        </div>
							<div class="col-xl-6 col-xxl-6">
								<h4 class="mb-10 font-weight-bold text-dark">History</h4>
								<table style='width: 100%; text-align: center;' mat-table [dataSource]="dataSoure" class="mat-elevation-z8">
								<!-- bank Column -->
								<ng-container matColumnDef="ID">
									<th mat-header-cell *matHeaderCellDef class="centerfontdeposit"> # </th>
									<td mat-cell *matCellDef="let withdrawElement; let i = index;" class="fontcolor"> {{i+1}} </td>
								</ng-container>
								  <!-- Item Column -->
								  <ng-container matColumnDef="BALANCE">
									<th mat-header-cell *matHeaderCellDef class="centerfontdeposit"> ยอดถอน </th>
									<td mat-cell *matCellDef="let withdrawElement" class="fontcolor"> {{withdrawElement.BALANCE | number}} </td>					
								  </ng-container>

								  <!-- Cost Column -->
								  <ng-container matColumnDef="REMARK">
									<th mat-header-cell *matHeaderCellDef class="centerfontdeposit"> หมายเหตุ </th>
									<td mat-cell *matCellDef="let withdrawElement" class="fontcolor"> {{withdrawElement.REMARK}} </td>
								  </ng-container>
								
								  <tr mat-header-row *matHeaderRowDef="displayDeposit" class="bghead"></tr>
								  <tr mat-row *matRowDef="let row; columns: displayDeposit;" class="bgrow"></tr>
								</table>		
							</div>
					</div>
				</div>
			</div>
		</div>

		
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
