<kt-portlet>
    <kt-portlet-body>
        <h3 class='cool'> พนักงาน </h3>
          <!-- <div class="btn btn-primary font-weight-bold" (click)="onTest()">Search</div>  -->
        
       
      
       
    <table style='width: 100%; text-align: center;' mat-table [dataSource]="tableSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef class="centerfont"> # </th>
      <td mat-cell *matCellDef="let stafftable; let i = index;" class="FontColor"> {{i+1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="USERNAME">
      <th mat-header-cell *matHeaderCellDef class="centerfont"> USER </th>
      <td mat-cell *matCellDef="let stafftable" class="FontColor"> {{stafftable.USERNAME}} </td>
    </ng-container>
  
    <ng-container matColumnDef="STAFFNAME">
      <th mat-header-cell *matHeaderCellDef class="centerfont"> NAME </th>
      <td mat-cell *matCellDef="let stafftable" class="FontColor"> {{stafftable.STAFFNAME}} </td>
    </ng-container>
  
    <ng-container matColumnDef="CLASSNAME">
      <th mat-header-cell *matHeaderCellDef class="centerfont"> POSITION </th>
      <td mat-cell *matCellDef="let stafftable" class="FontColor"> {{stafftable.CLASSNAME}} </td>
    </ng-container>

    <ng-container matColumnDef="DEPOSITLIMIT">
      <th mat-header-cell *matHeaderCellDef class="centerfont"> DEPOSITLIMIT </th>
      <td mat-cell *matCellDef="let stafftable" class="FontColor"> {{stafftable.DEPOSITLIMIT}} </td>
    </ng-container>

    <ng-container matColumnDef="ACTIVE">
      <th mat-header-cell *matHeaderCellDef class="centerfont"> STATUS </th>
      <td mat-cell *matCellDef="let stafftable" class="FontColor">
        <div *ngIf="stafftable.ACTIVE =='Y' else StaffActive">
          <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> ACTIVE </span>
        </div>
        <ng-template #StaffActive>
          <span class="label label-inline" style="color: white; background-color: rgb(237, 85, 101);"> INACTIVE </span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="STATUS_ONLINE">
      <th mat-header-cell *matHeaderCellDef class="centerfont"> แก้ไข </th>
      <td mat-cell *matCellDef ="let stafftable; let i = index;" class="FontColor"> <button mat-raised-button (click)="openDialog(i)"><span class="far fa-edit"></span></button>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsddd" class="bgHead"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsddd;" class="bgRow"></tr>
  </table>
<!-- 
  <div *ngIf="loading">
    loading.....
  </div> -->

  
    </kt-portlet-body>
  </kt-portlet>
        
